body
{
}

.clear{

    clear:both;
}

.gallery_caption{

    width:25%;
    margin-left:60px;
    color:#1e1e1e;
}

.gallery_image_layout{

    height:170px;
    width:29%;
    float:left;
    overflow:hidden;
    border:2px solid #1e1e1e;
    margin-right:4%;
    margin-bottom:30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.gallery_description{

    clear:both;
    width:85%;
    margin:0 auto;
    margin-top:40px;
           
}

.mobile_gallery_caption {

    text-align:center;
    color:#1e1e1e;

}

.mobile_gallery_image_layout{

    height:150px;
    width:90%;
    float:left;
    overflow:hidden;
    border:2px solid #1e1e1e;
    margin:0 auto;
    margin-bottom:30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}